books.dtd

<!ELEMENT books (book+)>
<!ELEMENT book (title, year, price, author+)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ATTLIST book 
	category CDATA #REQUIRED
	cover CDATA #IMPLIED (paperback|hardback)>
<!ATTLIST title lang CDATA #REQUIRED "en">
